.ui.card {
  width: 100% !important;
  height: 100% !important;
}

@media (min-width: 480px) {
  .cardDescription {
    padding: 50px;
  }

  .formBar {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-right: 150px !important;
    padding-left: 150px !important;
  }
}

.formBar {
  padding: 20px;
}
